*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:linear-gradient(90deg,white,white);
}
.header{
    padding: 30px;
    color: black;
    background:linear-gradient(90deg,white,green);
    font-weight: bold;
    box-shadow: 2px 2px 10px 5px black;
}
a{
    color: white;
    text-decoration: none;
}
.uploadForm{
    padding: 15px;
    background: white;
    border: 1px solid black;
}
.upload{
    padding: 5px;
    width: 10%;
    border: 0px;
    background-color: seagreen;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 3px 2px 4px black;
    font-size: 18px;
    transition: all .5s;
}
.upload:hover{
    background-color: green;
}
.fileUploadInput{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    color: black;
    width: 20%;
    border: 0px;
    font-size: 18px;
    transition: all .5s;
    box-shadow: 1px 1px 1px 2px black;
}
.fileUploadInput:hover,select:hover{
    box-shadow: 2px 3px 2px 4px black;
    
}
select{
    background-color: white;
    padding: 7px;
    border-radius: 10px;
    transition: all .5s;
    color:black;
    font-size: 18px;
    width: 27%;
    border: 0px;
    box-shadow: 1px 1px 1px 2px black;
}
table{
    width: 100%;
    margin: 0px auto;
    border-spacing: .1em .1em;
    border-collapse:collapse;
}
th{
    background-color: black;
    padding: 17px;
    text-align: left;
    padding-left: 50px;
    color: white;
}
td{
    padding: 5px;
    border: 1px solid;
    background-color:white;
    padding-left: 45px;
    animation-name: dataShow;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
@keyframes dataShow {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.regularInput{
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;
    width: 50%;
    border: 0px;
}
.del{
    padding: 7px;
    background-color: red;
    border: 0px;
    border-radius: 10px;
    width: 50px;
    color: white;
}
.del:hover{
    background-color: black;

}
.datahead{
    visibility: hidden;
    animation-name: theading;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* @keyframes theading {
    0%{visibility: hidden;}
    100%{visibility: visible;display: block;}
} */

.optionGuide{
    background-color: green;
    padding: 10px;
    color: white;
    font-weight: bold;
}
.message{
    padding: 12px;
    width: 50%;
    margin: 30px auto;
    z-index: 1;
    box-shadow: 3px 3px 20px 10px black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: right;
    padding-left: 20px;
    position: relative;
    font-size: 17px;
    font-weight: bold;
    animation-name: message;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    display: block;
    color: white;
}

@keyframes message {
    0%{left:400px}
    50%{left: 0px;}
    100%{left: 100px;}
}